<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.BD.conexion" connectionString="Data Source=Jose;Persist Security Info=True;User ID=SYSTEM;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>