<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<connectionStrings>
		<add name="ProyectoConnection" connectionString="Data Source=JOSE-ALBERTO\SQLEXPRESS;Initial Catalog=FabricaDB;Integrated Security=True" />
		<add name="PresentacionGUI.Properties.Settings.DBConnectionString"
		 connectionString="Data Source=JOSE-ALBERTO\SQLEXPRESS;Initial Catalog=DB;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
		<add name="PresentacionGUI.Properties.Settings.FabricaDBConnectionString"
		 connectionString="Data Source=JOSE-ALBERTO\SQLEXPRESS;Initial Catalog=FabricaDB;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>