<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="conexion" connectionString="Data Source=xe; User ID=jose; Password=admin; unicode=true;" />
  <add name="as.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=localhost:1522/xe;TNS_ADMIN=C:\Users\Yurainis\Oracle\network\admin;PASSWORD=admin;USER ID=JOSE"
   providerName="Oracle.ManagedDataAccess.Client" />
 </connectionStrings>
	
</configuration>